body{
    background-color: #e3f2fd;
    text-align: center;
}

h1{
    font-size: xx-large;
    margin-bottom: 5px;
    color: #0eb917;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

p{
    font-size: larger;
}

.container{
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
}

.feature {
    border: 2px solid black;
    margin-bottom: 10px;
    width: 300px;
    background-color: white;
}